/*
Name: Pyrrhus MacKinnon
File: style.css
Date: 2 March 2026
*/

@import "https://fonts.googleapis.com/css2?family=Lora:ital@0;1&family=Open+Sans:wght@400;700&display=swap";

/* General setup */

html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #fcfcfc;
  color: #333;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 800px;
}

/* Layout */

main {
  display: grid;
  grid-template-columns: 5fr 2fr 2fr;
  gap: 40px;
  padding: 20px 0;
}

/* header and footer */

header {
  border-bottom: 5px solid #aa6666;
}

footer {
  border-top: 5px solid #aa6666;
}

footer p {
  text-align: center;
}